apiVersion: v1
kind: Service
metadata:
  name: users-service
  namespace: demo
  labels:
    app: users-service
spec:
  selector:
    app: users-service
  ports:
    - port: 3000
      targetPort: 3000
      protocol: TCP
  type: ClusterIP
